<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/login.css">
</head>

<body>
    <main class="login">
        <div class="login__col">
            <header class="login__brand">Abhishek Tyagi</header>
            <form class="login__form" method="post" action="">
                <div class="login__form-wrapper">
                    <h1>Welcome back</h1>
                    <p>Sign in to your account.</p>
                    <div class="login__field-group">
                        <label class="login__label" for="user-email">Username or Email</label>
                        <input class="login__field" id="email" type="text" name="user_email" />
                    </div>
                    <div class="login__field-group">
                        <label class="login__label" for="pass">Password</label>
                        <input class="login__field" id="pass" type="password" name="pass" />
                    </div>
                    <div class="login__field-group login__field-group--horz">
                        <label class="login__label login__label--horz">
                            <input class="login__checkbox" type="checkbox" name="remember_me">
                            <span>Remember me</span>
                        </label>
                        <a href="#">Forgot password</a>
                    </div>
                    <button class="login__btn" type="button" data-login="false">
                        <span class="login__btn-label" id="sign-in">Sign in</span>
                        <span class="login__btn-spinner"></span>
                    </button>
                    <p class="login__sign-up">Don’t have an account? <a href="#">Sign up</a></p>
                </div>
            </form>
            <footer class="login__copyright">
                <p>© <span data-year>2023</span> Abhishek Tyagi. All rights reserved.</p>
            </footer>
        </div>
        <div class="login__col">
            <div class="login__bg-img">
                <div class="login__testimonial">
                    <p><q>Someone has helped us kick-start projects in a bang and save thousands of hours of
                            work.</q></p>
                    <!-- <p>Ann Thrax
                    <p> -->
                    <!-- <p><small>Senior UX Designer, X.Y. Zee</small></p> -->
                </div>
            </div>
        </div>
    </main>
    <script src="/javascript/login.js"></script>
</body>

</html>